/* Define common classes for each theme */
.orange {
  --bg-color: #ffedd5;
  --text-color: #fb923c;
  --border-color: #fb923c;
  --bg-gradient-start: #fb923c;
  --bg-gradient-end: #ea580c;
}

.blue {
  --bg-color: #bfdbfe;
  --text-color: #3b82f6;
  --border-color: #3b82f6;
  --bg-gradient-start: #3b82f6;
  --bg-gradient-end: #2563eb;
}

.green {
  --bg-color: #d1fae5;
  --text-color: #10b981;
  --border-color: #10b981;
  --bg-gradient-start: #10b981;
  --bg-gradient-end: #059669;
}

.membershipItem {
  background-color: white;
  padding: 1rem;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-width: 2px;
  border-style: solid;
  transition: all 0.3s ease-in-out;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
}

.expireType {
  font-size: 0.875rem;
}

.divider {
  height: 1px;
  width: 25%;
  margin: auto;
  background-color: var(--border-color);
}

.privilegesContainer {
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.privilegesText {
  font-weight: bold;
}

.dashedBorder {
  width: 66%;
  border: 1px dashed var(--border-color);
}

.purchaseButton {
  background: linear-gradient(to right, var(--bg-gradient-start), var(--bg-gradient-end));
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border-radius: 0.375rem;
  cursor: pointer;
}
